#todo_page {
  	background: url('../img/logobis.png') no-repeat center top;
  	padding-top: 50px;
    margin-top: -100px;
  	background-attachment: relative;
  	min-height: 450px;
  	width: 100%;



      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
  }

  #todo_page h1 {
    font-family: 'Pacifico', cursive;
    padding-left: 10px;
    margin-top: 0;
    margin-bottom: 100px;
  	font-size: 38px;
  	font-weight: 900;
  	letter-spacing: 1px;
  	visibility: hidden;
  }

#exit i {
  font-size: 30px !important;
  margin-top: 0;
}

a#exit.signup {
  padding-top: 0;
  padding-right: 0;
}

a#exit.home {
  padding-top: 0;
  padding-right: 0;
}

#service_title {
  margin-top: -160px;
}

.service_button {
  margin-left: 90px;
  margin-top: 30px;
}

#annonces {

}

.details_offres {
  margin-top: 50px;
}

.mes_offres {
  margin-top: 50px;
  margin-left: -90px;
}

.name {
  padding-top: 30px;
  padding-left: 50px;
  margin-left: 30px;
}

.help {
  margin-left: 0px;
  margin-top: 60px;
  color: #9c27b0;
}

.helpme {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 1.4em;
  padding-bottom: 30px;
}

.img_arrow {
  /*height: 100px;*/
  width: 80px;
  margin-top:20px;
  margin-left: -24px;
}

.besoin {
  margin-left: 10px;
  margin-bottom: 60px;
}

.here {
  margin-left: -180px;

}

.img_wanted {
  width: 80px;
  margin-top: 50px;
  margin-left: -24px;
  margin-bottom: 60px;
}

.volontaires {
  margin-top: 50px;
  margin-left: 100px;
}

.maliste {
  margin-top: 50px;
  margin-right: 200px;
}


.profil_user {
  margin-left: 450px;
  margin-top: -200px;
  margin-bottom: 100px;
}

.myprofil {
  margin-left: 80px;
  margin-top: 35px;
}

.proposal {
  margin-top: 50px;
}

.service {
margin-left: 30px;
margin-right: -50px;
margin-bottom: 40px;
}

.toi {
  margin-right: -140px;
}

.taliste{
  margin-left: -250px;
}

.todo_choix {
  margin-bottom: 30px;
  margin-top: 30px;
}

.listmenu {
  margin-left: 15px;
}
