<!--HEADERWRAP -->
<div id="headerwrap">
    <div class="container">
        <div class="row centered">
            <div class="col-lg-8 col-lg-offset-2 mt">
                <h1 class="animation slideDown">Pas de Bras, Pas de Chocolat</h1>
                <h3 class="slogan">Un service pour une belle rencontre</h3>
                <p class="mt"><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Se Loguer</button></p>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /headerwrap -->

<!-- modal SignUp-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="row" id="log">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <div class="card card-signup">
                <form ng-show="connexion" class="form" method="" action="">
                    <div class="header header-primary text-center">
                        <h4 class="sign">Sign Up</h4>
                        <div class="social-line">
                            <a href="#pablo" class="btn btn-simple btn-just-icon">
                                <img class="reseau" src="../img/facebook.svg" width="80%" height="80%">
                            </a>
                            <a href="#pablo" class="btn btn-simple btn-just-icon">
                                <img class="reseau" src="../img/google.svg" width="80%" height="80%">
                            </a>
                            <a href="#pablo" class="btn btn-simple btn-just-icon">
                                <img class="reseau" src="../img/twitter.svg" width="80%" height="80%">
                            </a>
                        </div>
                    </div>
                    <p class="text-divider"><a href="#monCompte" data-toggle="modal" data-dismiss="modal">Ou se créer un compte</a></p>
                    <div class="content">
                        <div class="input-group">
                            <span class="input-group-addon">
											<i class="material-icons">face</i>
										</span>
                            <input type="text" class="form-control" placeholder="Prénom">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
											<i class="material-icons">email</i>
										</span>
                            <input type="text" class="form-control" placeholder="Email">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
											<i class="material-icons">lock_outline</i>
										</span>
                            <input type="password" placeholder="Mot de Passe" class="form-control" />
                        </div>
                    </div>
                    <div class="footer text-center">
                        <a ui-sref="user.profile" class="btn btn-simple btn-primary btn-lg" class="close-modal" data-dismiss="modal">Se Loguer</a>
                        <a class="btn btn-simple btn-primary btn-lg" class="close-modal" data-dismiss="modal">Fermer</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- modal creation compte-->
<div class="modal fade" id="monCompte" tabindex="-1" role="dialog">
    <div class="row" id="log">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <div class="card card-signup">
                <form ng-show="connexion" class="form" method="" action="">
                    <div class="header header-primary text-center">
                        <h4 class="sign">Sign In</h4>
                        <div class="social-line">
                            <a href="#pablo" class="btn btn-simple btn-just-icon">
                                <img class="reseau" src="../img/facebook.svg" width="80%" height="80%">
                            </a>
                            <a href="#pablo" class="btn btn-simple btn-just-icon">
                                <img class="reseau" src="../img/google.svg" width="80%" height="80%">
                            </a>
                            <a href="#pablo" class="btn btn-simple btn-just-icon">
                                <img class="reseau" src="../img/twitter.svg" width="80%" height="80%">
                            </a>
                        </div>
                    </div>
                    <div class="content">
                        <div class="input-group">
                            <span class="input-group-addon">
											<i class="material-icons">face</i>
										</span>
                            <input type="text" class="form-control prenom" placeholder="Prénom & Nom">

                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
											<i class="material-icons">email</i>
										</span>
                            <input type="text" class="form-control" placeholder="Email">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
											<i class="material-icons">lock_outline</i>
										</span>
                            <input type="password" placeholder="Mot de Passe" class="form-control" />
                        </div>
                    </div>
                    <div class="footer text-center">
                        <a ng-click="signIn()" href="#pablo" class="btn btn-simple btn-primary btn-lg">Se Loguer</a>
                        <a class="btn btn-simple btn-primary btn-lg" class="close-modal" data-dismiss="modal">Fermer</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- <div class="row text-center">
    <div class="col-xs-12">
        <a href="#step1"><i class="material-icons fleche">arrow_downward</i></a>
    </div>
</div> -->

<!-- comment ça marche-->
<div id="white">
	<div class="container">
		<div class="row mt">
			<div class="col-lg-4 col-lg-offset-4 centered">
				<h3>Comment ça marche?</h3>
				<hr>
			</div>
		</div>
		<div class="row mt">
			<div class="col-lg-3 first">
				<p class="capitalize">1</p>
				<h4>j'offre un service</h4>
				<p>J'aime rendre service et j'ai des compétences. Je m'inscris sur le site, je propose un ou plusieurs services.</p>
			</div>
			<div class="col-lg-3">
				<p class="capitalize">2</p>
				<h4>je choisis ma récompense</h4>
				<p>En échange de mon service, je choisis ce qui me fait plaisir parmi une liste de propositions.</p>
			</div>
			<div class="col-lg-3">
				<p class="capitalize">3</p>
				<h4>ça matche</h4>
				<p>Mon offre et ma récompense matchent avec une autre personne.
				J'entre en contact et je conviens d'un RDV.</p>
			</div>

			<div class="col-lg-3">
				<p class="capitalize">4</p>
				<h4>c'est parti</h4>
				<p>Je rends service, je fais une belle rencontre. Je profite du moment présent.</p>
			</div>
		</div><!-- /row -->
	</div><!-- /container -->
</div><!-- /white -->


<!--BLOG POSTS -->
<div class="container">

    <div class="row mt centered ">
        <div class="col-lg-4 col-lg-offset-4">
            <h3>Le service que je propose </h3>
            <hr>
        </div>
    </div>
    <!-- /row -->

    <div class="row mt">
        <div class="col-lg-4 col-md-4 col-xs-12 desc">
            <a class="b-link-fade b-animate-go" href="#"><img id="jardin" width="350" src="../img/jardin.jpg" alt="jardin" />
                <div class="b-wrapper">
                    <button type="button" class="btn btn-primary btn-lg more">MORE</button>
                </div>
            </a>
        </div>
        <!-- col-lg-4 -->

        <div class="col-lg-4 col-md-4 col-xs-12 desc">
            <a class="b-link-fade b-animate-go" href="#"><img id="peinture" width="350" src="../img/peinture.jpg" alt="" />
                <div class="b-wrapper">
                    <button type="button" class="btn btn-primary btn-lg more">MORE</button>
                </div>
            </a>
        </div>
        <!-- col-lg-4 -->

        <div class="col-lg-4 col-md-4 col-xs-12 desc">
            <a class="b-link-fade b-animate-go" href="#"><img id="bricolage" width="350" src="../img/cuisine.jpg" alt="" />
                <div class="b-wrapper">
                    <button type="button" class="btn btn-primary btn-lg more" data-toggle="modal" data-target="#myModal">MORE</button>
                </div>
            </a>
        </div>
        <!-- col-lg-4 -->

    </div>
    <!-- /row -->
</div>
<!-- /container -->


<!--black section -->
<div id="black">
    <div id="step1" class="container pt">
        <div class="row mt centered">
            <div class="col-lg-3">
                <p><i class="material-icons">account_circle</i></p>
                <h1>2.337</h1>
                <hr>
                <h4>Inscrits</h4>
            </div>

            <div class="col-lg-3">
                <p><i class="material-icons">thumb_up</i></p>
                <h1>3.856</h1>
                <hr>
                <h4>Services rendus</h4>
            </div>

            <div class="col-lg-3">
                <p><i class="material-icons">sentiment_very_satisfied</i></p>
                <h1>3.060</h1>
                <hr>
                <h4>Sourires</h4>
            </div>

            <div class="col-lg-3">
                <p><i class="material-icons">restaurant</i></p>
                <h1>1409</h1>
                <hr>
                <h4>Dîners</h4>
            </div>

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /black -->
