
<! ========== HEADERWRAP ====================================================================================================
=============================================================================================================================>
	<div id="headerwrap">
		<div class="container">
		<div class="row centered">
			<div class="col-lg-8 col-lg-offset-2 mt">
				<h1 class="animation slideDown">Pas de Bras, Pas de Chocolat</h1>
					<p class="mt"><button type="button" class="btn btn-primary btn-lg">LEARN MORE</button></p>
			</div>

		</div><!-- /row -->
		</div><!-- /container -->
	</div> <!-- /headerwrap -->

	<! ========== BLOG POSTS ====================================================================================================
	=============================================================================================================================>
	<div class="container">

		<div class="row mt centered ">
			<div class="col-lg-4 col-lg-offset-4">
				<h3>Qu'est ce que je propose ?</h3>
				<hr>
			</div>
		</div><!-- /row -->

		<div class="row mt">
			<div class="col-lg-4 col-md-4 col-xs-12 desc">
				<a class="b-link-fade b-animate-go" href="#"><img id="jardin" width="350" src="../img/jardin.jpg" alt="jardin" />
					<div class="b-wrapper">
						<button type="button" class="btn btn-primary btn-lg">MORE</button>
					</div>
				</a>
			</div><!-- col-lg-4 -->

			<div class="col-lg-4 col-md-4 col-xs-12 desc">
				<a class="b-link-fade b-animate-go" href="#"><img id="peinture" width="350" src="../img/peinture.jpg" alt="" />
					<div class="b-wrapper">
						<button type="button" class="btn btn-primary btn-lg">MORE</button>
					</div>
				</a>
			</div><!-- col-lg-4 -->

			<div class="col-lg-4 col-md-4 col-xs-12 desc">
				<a class="b-link-fade b-animate-go" href="#"><img id="bricolage" width="350" src="../img/bricolage.jpg" alt="" />
					<div class="b-wrapper">
						<button type="button" class="btn btn-primary btn-lg">MORE</button>
					</div>
				</a>
			</div><!-- col-lg-4 -->

		</div><!-- /row -->
	</div><!-- /container -->








<div class="container-fluid">

				<div class="row">
					<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
						<div class="card card-signup">
							<form ng-show="connexion" class="form" method="" action="">
								<div class="header header-primary text-center">
									<h4>Sign Up</h4>
									<div class="social-line">
										<a href="#pablo" class="btn btn-simple btn-just-icon">
											<i class="fa fa-facebook-square"></i>
										</a>
										<a href="#pablo" class="btn btn-simple btn-just-icon">
											<i class="fa fa-twitter"></i>
										</a>
										<a href="#pablo" class="btn btn-simple btn-just-icon">
											<i class="fa fa-google-plus"></i>
										</a>
									</div>
								</div>
								<p class="text-divider">Or Be Classical</p>
								<div class="content">

									<div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">face</i>
										</span>
										<input type="text" class="form-control" placeholder="Prénom">
									</div>

									<div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">email</i>
										</span>
										<input type="text" class="form-control" placeholder="Email">
									</div>

									<div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">lock_outline</i>
										</span>
										<input type="password" placeholder="Mot de Passe" class="form-control" />
									</div>

									<!-- If you want to add a checkbox to this form, uncomment this code

									<div class="checkbox">
										<label>
											<input type="checkbox" name="optionsCheckboxes" checked>
											Subscribe to newsletter
										</label>
									</div> -->
								</div>
								<div class="footer text-center">
									<a ng-click="signIn()" href="#pablo" class="btn btn-simple btn-primary btn-lg">Se Loguer</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

			<! ========== BLACK SECTION =================================================================================================
			=============================================================================================================================>
			<div id="black">
				<div class="container pt">
					<div class="row mt centered">
						<div class="col-lg-3">
							<p><i class="material-icons">account_circle</i></p>
							<h1>2.337</h1>
							<hr>
							<h4>Inscrits</h4>
						</div>

						<div class="col-lg-3">
							<p><i class="material-icons">thumb_up</i></p>
							<h1>3.856</h1>
							<hr>
							<h4>Services rendus</h4>
						</div>

						<div class="col-lg-3">
							<p><i class="material-icons">sentiment_very_satisfied</i></p>
							<h1>3.060</h1>
							<hr>
							<h4>Sourires</h4>
						</div>

						<div class="col-lg-3">
							<p><i class="material-icons">restaurant</i></p>
							<h1>1409</h1>
							<hr>
							<h4>Dîners</h4>
						</div>

					</div><!-- /row -->
				</div><!-- /container -->
			</div><!-- /black -->
