<div class="container">


  <div class='list' ng-repeat="(key, list) in models1.lists">
    <ul dnd-list="list">
      <div ng-repeat="annonce in list"
      dnd-draggable="annonce"
      dnd-moved="list.splice($index, 1)"
      dnd-effect-allowed="move"
      dnd-selected="models1.selected = annonce" ng-class="{'selected': models1.selected === annonce}"
      style="min-height: 30px;">
        <p>{{annonce.Auteur}}</p>
        <p>{{annonce.Annonce}}</p>
        <p>{{annonce.content}}</p>
      </div>
  </div>

  <div class='list' ng-repeat="(key, list) in models2.lists">
    <ul dnd-list="list">
      <div ng-repeat="annonce in list"
      dnd-draggable="annonce"
      dnd-moved="list.splice($index, 1)"
      dnd-effect-allowed="move"
      dnd-selected="models2.selected = annonce" ng-class="{'selected': models2.selected === annonce}"
      style="min-height: 30px;">
        <p>{{annonce.Auteur}}</p>
        <p>{{annonce.Annonce}}</p>
        <p>{{annonce.content}}</p>
      </div>
  </div>

  <div class='list' ng-repeat="(key, list) in models3.lists">
    <ul dnd-list="list">
      <div ng-repeat="annonce in list"
      dnd-draggable="annonce"
      dnd-moved="list.splice($index, 1)"
      dnd-effect-allowed="move"
      dnd-selected="models3.selected = annonce" ng-class="{'selected': models3.selected === annonce}"
      style="min-height: 30px;">
        <p>{{annonce.Auteur}}</p>
        <p>{{annonce.Annonce}}</p>
        <p>{{annonce.content}}</p>
      </div>
  </div>
