
	<div class="container">
		<div class="row mt centered ">
			<div class="col-lg-4 col-lg-offset-4">
				<h3>Qu'est ce que je propose ?</h3>
				<hr>
			</div>
		</div><!-- /row -->

		<div class="row mt">
			<div class="col-lg-4 col-md-4 col-xs-12 desc">
				<a class="b-link-fade b-animate-go"><img id="jardin" width="350" src="../img/jardin.jpg" alt="jardin" />
					<div class="b-wrapper">
						<button type="button" class="btn btn-primary btn-lg" ng-click='openJardin()'>MORE</button>
					</div>
				</a>
			</div><!-- col-lg-4 -->

			<div class="col-lg-4 col-md-4 col-xs-12 desc">
				<a class="b-link-fade b-animate-go"><img id="peinture" width="350" src="../img/peinture.jpg" alt="" />
					<div class="b-wrapper">
						<button type="button" class="btn btn-primary btn-lg" ng-click='openBricol()'>MORE</button>
					</div>
				</a>
			</div><!-- col-lg-4 -->

			<div class="col-lg-4 col-md-4 col-xs-12 desc">
				<a class="b-link-fade b-animate-go" ><img id="bricolage" width="350" src="../img/bricolage.jpg" alt="" />
					<div class="b-wrapper">
						<button type="button" class="btn btn-primary btn-lg" ng-click="openCuisine()">MORE</button>
					</div>
				</a>
			</div><!-- col-lg-4 -->

		</div><!-- /row -->
	</div><!-- /container -->

<div class="container">


<div class="blocAnnonce2" ng-show='bricol'>
  <div class='list' ng-repeat="(key, list) in models4.lists">
    <ul class="ulannonce" dnd-list="list">
      <div class="detailAnnonce" ng-repeat="volontaire in list"
        dnd-draggable="volontaire"
        dnd-moved="list.splice($index, 1)"
        dnd-effect-allowed="move"
        dnd-selected="models4.selected = annonce" ng-class="{'selected': models4.selected === annonce}"
        style="min-height: 30px;">
        <img class='img-rounded img-responsive imgannonce' src='../img/{{volontaire.photo}}' alt="">
        <h5>{{volontaire.Auteur}}</h5>
        <h3>{{volontaire.Competence}}</h3>
        <p>{{volontaire.Commentaire}}</p>
      </div>
  </div>
</div>
</div>
